@import '../../breakpoints';

@mixin content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  @include content-center();
  display: none;
}

.nav {
  @include content-center();
  gap: 8px;
  margin-bottom: 1rem;
}

@media (min-width: $sm) {
  .nav {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: $sm) {
  .container {
    display: flex;
  }
}
