.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  font-size: 24px;
  font-weight: 500;
}

.spinner {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  background: linear-gradient(
    0deg,
    rgba(91, 172, 73, 0.2) 33%,
    rgb(31, 140, 68) 100%
  );
  animation: rotation 1s linear infinite;

  &::after {
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    border-radius: 50%;
    background: rgb(239, 242, 235);
    transform: translate(-50%, -50%);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
