@import '../breakpoints';

@mixin content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  @include content-center();
  flex-direction: row;
  gap: 8px;
  margin-bottom: 1rem;
}

.text-info {
  font-size: 24px;
}

@media (min-width: $sm) {
  .container {
    display: none;
  }
}
