@import '../skeletons/pulsation.scss';
@import '../../breakpoints';

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  padding: 1rem;
  gap: 1rem;
  place-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 266px;
  height: 200px;
  grid-column: 1 / span 1;
  border-radius: 1rem;
  color: rgb(239, 242, 235);
  background-color: lightgrey;

  .name {
    height: 30px;
    width: 180px;
    border-radius: 1rem;
  }

  .first-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    h3 {
      width: 80px;
      height: 16px;
      border-radius: 1rem;

      &:last-child {
        width: 90px;
      }
    }
  }

  .second-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    h3 {
      width: 40px;
      height: 16px;
      border-radius: 1rem;

      &:last-child {
        width: 120px;
      }
    }
  }

  .third-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    h3 {
      width: 65px;
      height: 16px;
      border-radius: 1rem;

      &:last-child {
        width: 130px;
      }
    }
  }
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  place-items: center;
}

@media (min-width: $sm) {
  .container {
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .info {
    width: 400px;

    .name {
      width: 250px;
    }

    .first-row {
      padding: 0 2rem;

      h3 {
        width: 100px;

        &:last-child {
          width: 100px;
        }
      }
    }

    .second-row {
      padding: 0 2rem;

      h3 {
        width: 60px;

        &:last-child {
          width: 140px;
        }
      }
    }

    .third-row {
      padding: 0 2rem;

      h3 {
        width: 85px;

        &:last-child {
          width: 160px;
        }
      }
    }
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

@media (min-width: $md) {
  .info {
    width: 600px;

    .first-row {
      padding: 0 8rem;
    }
    .second-row {
      padding: 0 8rem;
    }
    .third-row {
      padding: 0 8rem;
    }
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $lg) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: $xl) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
