.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  height: 380px;
  border-radius: 1rem;
  // border: 2px solid black;
  background-color: rgb(91, 172, 73);
  transition: 0.2s ease;

  &:hover {
    transform: scale(1.03);
  }
}

.text-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.name {
  text-align: center;
}

.image {
  border-radius: 1rem;
}
