@import '../breakpoints';

.container {
  text-align: center;
  height: 380px;
  width: 266px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 8px;
  border-radius: 1rem;
  background-color: rgb(91, 172, 73);
  transition: 0.2s ease;

  &:hover {
    transform: scale(1.03);

    .text-info {
      color: rgb(167, 202, 84);
    }
  }
}

.image {
  border-radius: 1rem;
}

.text-info {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: rgb(239, 242, 235);
  transition: 0.2s ease;
}

.name {
  text-align: center;
  font-size: 24px;
}

.species {
  font-size: 20px;
}

.link {
  text-decoration: none;
  border-radius: 1rem;
}

@media (min-width: $sm) {
  .container {
    height: 400px;
    width: 266px;
  }

  .species {
    font-size: 24px;
  }
}
