@import '../breakpoints';

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;

  .grid-item {
    @include center-content();
  }
}

.link {
  text-decoration: none;
  color: rgb(13, 13, 13);
}

@media (min-width: $sm) {
  .grid {
    gap: 1.5rem;
    padding: 1.5rem;
  }
}

@media (min-width: $md) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $xl) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
  }
  .container {
    @include center-content();
  }
}
