@import '../breakpoints';

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &::before {
    content: '';
    background-image: url('/assets/pages bg/space/green-space-laptop-3.jpg');
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  place-content: center;
}

@media (min-width: $sm) {
  .grid {
    gap: 1.5rem;
    padding: 1.5rem;
  }
}

@media (min-width: $md) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: calc($xl - 200px)) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
  }

  .container {
    @include center-content();
  }
}
