@import '../breakpoints';

.link {
  text-decoration: none;
  border-radius: 1rem;
}

.container {
  height: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(91, 172, 73);
  border-radius: 1rem;
  transition: 0.2s;

  &:hover {
    transform: scale(1.03);

    .name {
      color: rgb(167, 202, 84);
    }
  }
}

.name {
  color: rgb(239, 242, 235);
  font-size: 20px;
  text-align: center;
  transition: 0.2s;
}

.air-date {
  font-size: 20px;
  color: rgb(239, 242, 235);
}

@media (min-width: $sm) {
  .container {
    height: 120px;
    width: 310px;
  }

  .name {
    font-size: 20px;
  }

  .air-date {
    font-size: 24px;
  }
}

@media (min-width: $xl) {
  .container {
    height: 150px;
    width: 340px;
  }

  .name {
    font-size: 24px;
  }

  .air-date {
    font-size: 24px;
  }
}
