@import '../breakpoints';

.container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  place-items: center;
}

@media (min-width: 690px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $xl) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
