@import '../breakpoints';

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.link {
  text-decoration: none;
  border-radius: 1rem;
}

@media (min-width: 690px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $xl) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
