.link {
  text-decoration: none;
}

.container {
  width: 380px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(91, 172, 73);
  border-radius: 1rem;
  transition: 0.2s;
  cursor: pointer;

  & > h1,
  h2 {
    transition: inherit;
    color: rgb(239, 242, 235);
    text-align: center;
  }

  &:hover {
    scale: 1.03;

    & > h1,
    h2 {
      color: rgb(167, 202, 84);
    }
  }
}
