@import '../breakpoints';

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  padding: 1rem;
  gap: 1rem;
  place-items: center;
  position: relative;

  &::before {
    content: '';
    background-image: url('/assets/pages bg/space/green-space-laptop-5.jpg');
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  width: 266px;
  height: 200px;
  grid-column: 1 / span 1;
  border-radius: 1rem;
  color: rgb(239, 242, 235);
  background-color: rgb(91, 172, 73);

  .name {
    font-size: 24px;
  }

  .desc {
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  place-items: center;
}

@media (min-width: $sm) {
  .container {
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .info {
    width: 400px;

    .name {
      font-size: 34px;
    }

    .desc {
      font-size: 24px;
      font-weight: 500;
      padding: 0 2rem;
    }
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

@media (min-width: $md) {
  .info {
    width: 600px;

    .desc {
      padding: 0 8rem;
    }
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $lg) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: $xl) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
