.container {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: rgb(91, 172, 73);

  a {
    transition: 0.2s;

    &:hover {
      scale: 1.15;
    }
  }
}
