@import '../styles/breakpoints';

@mixin background-image {
  background-size: cover;
  background-position: 50%;
  &:hover {
    transform: scale(1.03);
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  padding: 1rem;
  gap: 1rem;
}

.text-content {
  height: 230px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 40px;
}

.subtitle {
  text-align: center;
  font-size: 30px;
}

.description {
  text-align: center;
  font-size: 24px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  a {
    height: 150px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 1rem;
    text-decoration: none;
    color: rgb(239, 242, 235);
    font-size: 40px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    transition: 0.2s;
  }

  .characters {
    background-image: url('/assets/home page/horizontal-characters-bg.jpg');
    @include background-image();
  }

  .episodes {
    background-image: url('/assets/home page/horizontal-episodes-bg.jpg');
    @include background-image();
    background-position: bottom center;
  }

  .locations {
    background-image: url('/assets/home page/horizontal-locations-bg.jpg');
    @include background-image();
  }
}

@media (min-width: $md) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .text-content {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    height: 120px;
  }

  .title {
    font-size: 34px;
  }

  .subtitle {
    font-size: 24px;
  }

  .description {
    font-size: 20px;
  }

  .links {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    flex-direction: row;

    a {
      width: 250px;
      height: 500px;
      align-items: end;
      padding-bottom: 8rem;
      font-size: 30px;

      &:hover {
        color: rgb(167, 202, 84);
      }
    }

    .characters {
      background-image: url('/assets/home page/vertical-characters-bg.jpg');
      @include background-image();
    }

    .episodes {
      background-image: url('/assets/home page/vertical-episodes-bg.jpg');
      @include background-image();
    }
    .locations {
      background-image: url('/assets/home page/vertical-locations-bg.jpg');
      @include background-image();
    }
  }
}

@media (min-width: $lg) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }

  .text-content {
    grid-column: 2 / span 3;
    grid-row: 1 / span 1;
  }

  .links {
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
  }
}
