@mixin background-image {
  background-size: cover;
  background-position: 50%;
  &:hover {
    transform: scale(1.03);
  }
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.text-content {
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 34px;
}

.subtitle {
  font-size: 24px;
}

.description {
  font-size: 20px;
}

.links {
  width: 900px;
  height: 450px;
  display: flex;
  justify-content: space-evenly;

  a {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 8rem;
    border: 1px solid black;
    border-radius: 1rem;
    text-decoration: none;
    color: rgb(239, 242, 235);
    font-size: 30px;
    transition: 0.2s;

    &:hover {
      color: rgb(167, 202, 84);
    }
  }

  .characters {
    background-image: url('/assets/link-characters-img-1.jpg');
    @include background-image();
  }

  .episodes {
    background-image: url('/assets/link-episodes-img.jpg');
    @include background-image();
  }
  .locations {
    background-image: url('/assets/link-locations-img.jpg');
    @include background-image();
  }
}
