.body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 2.5rem;
}

.main {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.footer {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: rgb(239, 242, 235);
  background-color: rgb(91, 172, 73);

  &:hover {
    color: rgb(167, 202, 84);
  }
}
