@import './breakpoints';

.navbar {
  height: inherit;
  background-color: rgb(91, 172, 73);
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu-btn {
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 12px;
  cursor: pointer;

  span {
    width: 30px;
    height: 3px;
    display: block;
    position: relative;
    background: rgb(239, 242, 235);
    border-radius: 3px;
    transition: 0.2s;
  }

  &:hover {
    span {
      background: rgb(167, 202, 84);
    }
  }
}

.backdrop {
  position: absolute;
  top: 2.5rem;
  width: 100%;
  height: 100%;
  z-index: 500;
}

.menu {
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  list-style: none;
  background-color: rgb(91, 172, 73);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  li {
    text-align: center;
  }
}

.links {
  display: none;
}

.link {
  color: rgb(239, 242, 235);
  text-decoration: none;
  font-size: 24px;
  margin: 0 1rem;
  transition: 0.2s;

  &:hover {
    color: rgb(167, 202, 84);
  }
}

@media (min-width: $sm) {
  .navbar {
    height: inherit;
    background-color: rgb(91, 172, 73);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .menu-btn {
    display: none;
  }

  .links {
    grid-column-start: 3;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 0.5rem;
    list-style: none;
  }

  .link {
    text-decoration: none;
    margin: 0 0.5rem;
    transition: 0.2s;

    &:hover {
      color: rgb(167, 202, 84);
    }
  }
}

@media (min-width: $md) {
  .links {
    grid-column-start: 3;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 1rem;
    list-style: none;
  }
}
